helmList:
  storage:
    nfs: true
    minio: true
    dockerRegistry: true
  ml:
    flyte:
      binary: true
    mlflow: true
    spark: false
    ray: true
    dask: true

docker:
  persistence:
    enabled: false
  service:
    type: NodePort
    nodePort: 30000

nfs:
  nfs:
    server: 192.168.50.244
    path: /var/nfsshare
  storageClass:
    annotations:
      storageclass.kubernetes.io/is-default-class: "true"

minio:
  fullnameOverride: minio
  mode: standalone
  rootUser: minio
  rootPassword: miniostorage
  buckets:
    - name: flyte
      policy: none
      purge: false
  consoleService:
    type: NodePort
    nodePort: 30002

sql:
  image: postgres:16
  imagePolicy: IfNotPresent
  user: postgres
  password: flyte
  dbName: flyte

mlflow:
  nameOverride: mlflow
  fullnameOverride: mlflow


flytebinary:
  fullnameOverride: "flyte-binary"

  deployment:
    waitForDB:
      image:
        repository: postgres
        tag: "16"
        pullPolicy: IfNotPresent

  configuration:
    database:
      username: postgres
      password: flyte
      host: postgres.default.svc.cluster.local
      dbname: flyte
    storage:
      type: minio
      metadataContainer: flyte
      userDataContainer: flyte
      provider: s3
      providerConfig:
        s3:
          authType: "accesskey"
          endpoint: "http://minio.default.svc.cluster.local:9000"
          accessKey: "minio"
          secretKey: "miniostorage"
          secure: "false"
          v2Signing: "true"
      
    clusterResourceTemplates:
      inline:
        - key: aa_namespace
          value: |
            apiVersion: v1
            kind: Namespace
            metadata:
              name: {{ namespace }}

    inline:
      plugins:
        k8s:
          inject-finalizer: true
          default-env-vars:
            - FLYTE_AWS_ENDPOINT: "http://minio.default.svc.cluster.local:9000"
            - FLYTE_AWS_ACCESS_KEY_ID: "minio"
            - FLYTE_AWS_SECRET_ACCESS_KEY: "miniostorage"

    task_resources:
      defaults:
        cpu: 1
        memory: 10Gi
      limits:
        memory: 10Gi

  serviceAccount:
    create: true

  enabled_plugins:
    tasks:
      task-plugins:
        enabled-plugins:
          - container
          - sidecar
          - k8s-array
          - connector-service
          - echo
          - ray
          - dask
        default-for-task-types:
          container: container
          sidecar: sidecar
          container_array: k8s-array
          ray: ray
          dask: dask