helmList:
  lb:
    metallb: true
  ingress:
    traefik: true
  storage:
    nfs: true
    minio: true
    dockerRegistry: true
  ml:
    flyte:
      binary: true
    mlflow: false
    spark: false
    ray: false
    dask: false

traefik:
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`yuteng.com`)
      entryPoints:
        - web
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    listeners:
      web:
        namespacePolicy:
          from: All

docker:
  persistence:
    enabled: false
  service:
    type: NodePort
    nodePort: 30000

nfs:
  nfs:
    server: 192.168.50.17
    path: /var/nfsshare
  storageClass:
    annotations:
      storageclass.kubernetes.io/is-default-class: "true"

minio:
  fullnameOverride: minio
  mode: standalone
  rootUser: minio
  rootPassword: miniostorage
  buckets:
    - name: flyte
      policy: none
      purge: false
  consoleService:
    type: NodePort
    nodePort: 30002

sql:
  image: postgres:16
  imagePolicy: IfNotPresent
  user: postgres
  password: flyte
  dbName: flyte

mlflow:
  nameOverride: mlflow
  fullnameOverride: mlflow


flytebinary:
  flyte-core-components:
    admin:
      seedProjects:
        - flytesnacks
      seedProjectsWithDetails:
        - name: flytesnacks
          description: Default project setup.

  auth:
    enabled: false
    oidc:
      baseUrl: ''
      clientId: ''
      clientSecret: ''
    internal:
      clientSecret: ''
      clientSecretHash: ''
    authorizedUris: []
  
  fullnameOverride: "flyte-binary"

  deployment:
    waitForDB:
      image:
        repository: postgres
        tag: "16"
        pullPolicy: IfNotPresent

  configuration:
    database:
      username: postgres
      password: flyte
      host: postgres.default.svc.cluster.local
      dbname: flyte
    storage:
      type: minio
      metadataContainer: flyte
      userDataContainer: flyte
      provider: s3
      providerConfig:
        s3:
          authType: "accesskey"
          endpoint: "http://minio.default.svc.cluster.local:9000"
          accessKey: "minio"
          secretKey: "miniostorage"
          secure: "false"
          v2Signing: "true"
      
    clusterResourceTemplates:
      inline:
        - key: aa_namespace
          value: |
            apiVersion: v1
            kind: Namespace
            metadata:
              name: {{ namespace }}

    inline:
      plugins:
        k8s:
          inject-finalizer: true
          default-env-vars:
            - FLYTE_AWS_ENDPOINT: "http://minio.default.svc.cluster.local:9000"
            - FLYTE_AWS_ACCESS_KEY_ID: "minio"
            - FLYTE_AWS_SECRET_ACCESS_KEY: "miniostorage"
        spark:
          spark-config-default:
            - spark.driver.cores: "1"
            - spark.hadoop.fs.s3a.aws.credentials.provider: "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider"
            - spark.hadoop.fs.s3a.endpoint: http://{{ printf "%s-minio" .Release.Name | trunc 63 | trimSuffix "-" }}.{{ .Release.Namespace }}:9000
            - spark.hadoop.fs.s3a.access.key: "minio"
            - spark.hadoop.fs.s3a.secret.key: "miniostorage"
            - spark.hadoop.fs.s3a.path.style.access: "true"
            - spark.kubernetes.allocation.batch.size: "50"
            - spark.hadoop.fs.s3a.acl.default: "BucketOwnerFullControl"
            - spark.hadoop.fs.s3n.impl: "org.apache.hadoop.fs.s3a.S3AFileSystem"
            - spark.hadoop.fs.AbstractFileSystem.s3n.impl: "org.apache.hadoop.fs.s3a.S3A"
            - spark.hadoop.fs.s3.impl: "org.apache.hadoop.fs.s3a.S3AFileSystem"
            - spark.hadoop.fs.AbstractFileSystem.s3.impl: "org.apache.hadoop.fs.s3a.S3A"
            - spark.hadoop.fs.s3a.impl: "org.apache.hadoop.fs.s3a.S3AFileSystem"
            - spark.hadoop.fs.AbstractFileSystem.s3a.impl: "org.apache.hadoop.fs.s3a.S3A"

    task_resources:
      defaults:
        cpu: 1
        memory: 10Gi
      limits:
        memory: 10Gi

  serviceAccount:
    create: true

  enabled_plugins:
    tasks:
      task-plugins:
        enabled-plugins:
          - container
          - sidecar
          - k8s-array
          - connector-service
          - echo
          - ray
          - dask
        default-for-task-types:
          container: container
          sidecar: sidecar
          container_array: k8s-array
          ray: ray
          dask: dask
